<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./public/styles.css">
</head>
<body>
<section class="section_header">
    <div class="container_header">
        <div class="header">
            <div class="auth">
                <img src="../public/logo.png" alt="logo" class="logo">
                <a class="auth_btn" href="/loginPage">Log In</a>
                <a class="auth_btn" href="/signupPage">Sign Up</a>
                <a class="auth_btn" href="/logout">Log Out</a>
            </div>
        </div>
    </div>
</section>