<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./public/styles.css">
</head>
<body>
<section class="section_header">
    <div class="container_header">
        <div class="header">
            <div class="logo">
                <h4>Logo</h4>
            </div>
            <div class="auth">
                <%if(!userId){%>

                <a class="auth_btn" href="/loginPage">Log In</a>
                <a class="auth_btn" href="/signupPage">Sign Up</a>
                <%}%>
                <%if(userId){%>

                    <a  class="auth_btn" href="/logout">Log Out</a>
                <%}%>

            </div>
        </div>
    </div>
</section>