
<section class="section_header">
    <div class="container_header">
        <div class="header">
            <div class="logo">
                <a href="/"><img src="https://matrixmaster.info/wp-content/uploads/2021/06/cropped-logo-mm-white.png" alt="logo"  class="logo"></a>
            </div>
            <% if(user){%>
            <h4 class="header_welcome">Welcome <%= user%></h4>
            <%}%>
            <div class="auth">
                <%if(!userId){%>

                <a class="login_btn" href="/loginPage">Log In</a>
                <a class="sign_btn" href="/signupPage">Sign Up</a>
                <%}%>
                <%if(userId){%>

                    <a  class="sign_btn" href="/logout">Log Out</a>
                        <a  class="sign_btn" href="/">Home</a>
                <%}%>

            </div>
        </div>
    </div>
</section>