<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question Page</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
<div class="flex_wrapper">
   <%- include ('./components/header') %>
   <section class="section_main section_content">
    <div class="container">
        <div class="main_wrapper">
            <div class="question_wrapper">
                <form action="/addNewQuestion/<%= userId %>" method="post">
                    <input type="text" placeholder="Title" name="title"><br>
                    <textarea name="desc" id="" cols="50" rows="10" placeholder="Description"></textarea><br>
                    <button>Add question</button>
                </form>
                <p><%=error %></p>
            </div>
        </div>
    </div>
</section>
   <%- include ('./components/footer') %>
</div>
</body>
</html>