<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
<div class="flex_wrapper">
  <%- include ('./components/header') %>



  <section class="section_content">
    <div class="container">
        <div class="form_wrapper">
            <div class="logInForm">

                <form class="loginForm" action="/signup" method="post">
                    <label for="email">Email</label><br>
                    <input  class="login_input" type="email" name="email" placeholder="Email"><br>
                    <label for="userName"> User Name</label><br>
                    <input class="login_input" type="text" name="userName" placeholder="User name"><br>
                    <label for="password">Password</label><br>
                    <input  class="login_input" type="password" placeholder="Password" name="password"><br>
                    <button type="submit" value="Login" class="logIn-btn">Sign Up</button>
                </form>

            </div>
        </div>

        <div>
            <p class="errors"><%= error %></p>
        </div>
    </div>
</section>
  <%- include ('./components/footer') %>
</div>

</body>
</html>