<%- include ('./components/header')%>

    <div class="container">


        <div class="main_title">
            <h3>Matrix Master Community</h3>
        </div>
        <div >
            <a class="question_btn" href="/addQuestion">Add Question</a>
        </div>

    </div>
</section>
</body>
</html>