*,
*::before,
*::after {
    box-sizing: border-box;
}
*{
    font-family:Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
    color: antiquewhite;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

.container_header{

}
.section_content{

}
body {
    background-color: #333333;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 5px 30px;
    align-items: center;


    position: fixed;
    top: 0;
    width: 100%;
    background-color : #360311;
    border-radius: 0 0 10px 10px;
}
.main_wrapper_start{
    display: flex;
flex-direction: column;
    gap: 20px;
    padding-top: 80px;

}
.allPosts{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33%;
    border-radius: 10px;
    border: 2px solid #360311;
    padding: 5px;
    background-color: rgba(160,156,147,0.71);

    gap: 10px;

    color: antiquewhite;
}
.posts_wrapper{
    display: flex;
    gap: 1%;
}
.auth{
    display: flex;
    gap: 20px;


}
.auth_btn{
    border-radius: 10px;
    font-size: 14px;
    padding: 2px;
    text-align: center;
    border: 2px solid ;
    text-decoration: none;
    width: 80px;
    font-weight: bold;
    color: white;


}
.container{
    max-width: 80%;
    margin: auto;
    text-align: center;
}
.main_title{
    margin : 20px 0 30px 0


}
.question_btn{
    text-decoration: none;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 6px;
    color: yellowgreen;
    margin-bottom: 20px;
}
.edit_btn{
    color: black;
}

.loginForm{
    padding:20px;
    margin:10px;

}
.loginForm input,label{
    padding:5px;
    margin:10px;

}
#loginTitle{
    padding:5px;
    margin-left:35px;
    color:blue;
}



