*,
*::before,
*::after {
    box-sizing: border-box;
}
*{
    font-family:Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
    color: antiquewhite;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

.container_header{

}
.section_content{

}
body {
    background-color: #333333;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 5px 30px;
    align-items: center;
    margin-bottom:20px;

    position: fixed;
    top: 0;
    width: 100%;
    background-color : #ADD8E6;
    border-radius: 0 0 10px 10px;
}
.main_title h3{
    margin-top:20px;
    font-weight:300;
    font-size:1.5em;
}
.header_welcome{
    color:black;
    font-weight:100;
    font-size:1.2em;
    letter-spacing:1px;
    margin-top:15px;
    margin-bottom:25px;
    margin-right:250px;
}
.main_wrapper_start{
    display: flex;
flex-direction: column;
    gap: 20px;
    padding-top: 80px;

}
.section3{
    color:white;
    background-color:white;

}
.allPosts{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    border-radius: 10px;
    border: 2px solid #360311;
    padding: 5px;
    background-color: rgba(160,156,147,0.71);
    gap: 10px;
    color: antiquewhite;
}
.posts_wrapper{
    display: flex;
    gap: 1%;
}
.auth{
    display: flex;
    gap: 20px;

}
.auth_btn{
    border-radius: 10px;
    font-size: 14px;
    padding: 2px;
    text-align: center;
    border: 2px solid ;
    text-decoration: none;
    width: 80px;
    font-weight: bold;
    color: blue;


}
.container{
    max-width: 80%;
    margin: auto;
    text-align: center;
}
.main_title{
    margin : 20px 0 30px 0


}
.question_btn{
    color:#fff;
    background:black;
    font-size:1.1em;
    font-weight:602;
    display:inline-block;
    padding: 0.9375em 2.1875em;
    text-decoration:none;
    letter-spacing:1px;
    margin-bottom:20px;
    border-radius:15px;
    transition: 0.9s ease;
}
.question_btn:hover {
    color:gray;
    background:#601cfc;
    transform:scale(1.1);

}
.edit_btn{
    color: black;
}


.editPost{
    padding:10px;
    margin:15px;
}

.logInForm{
    color:black;
    padding:20px;
    margin-top:100px;

}
.loginForm input,label{
    padding:5px;
    margin:10px;

}
.loginForm input{
    color:black;
    display:flex;
}
.loginTitle {
    padding:5px;
    margin-left:10px;
    margin-bottom:15px;
    color:blue;
}
.logo{
    width:140px;
    height :75px;
    margin-right:600px;
    margin-left:70px;
}
.logIn-btn {
     width:140px;
    height:30px;
    margin:15px;
    color:#fff;
    background:black;
    font-size:1.1em;
    font-weight:602;
    border-radius:15px;
    transition: 0.9s ease;
}
.logIn-btn:hover
{
    color:black;
    background:#601cfc;
    transform:scale(1.1);

}
.section3{
    background:none;
    margin-top:100px;
    display:flex;
    justify-content:column;
    padding:30px;
}

.signUpForm button{
    width:140px;
    height:30px;
    margin:15px;
    color:#fff;
    background:black;
    font-size:1.1em;
    font-weight:602;
    border-radius:15px;
    transition: 0.9s ease;
}
.signUpForm input{
    color:black;
}

.signUpForm button:hover,.edit-delete-btn button:hover,edit_btn:hover {
    color:black;
    background:#3a6cf4;
    transform:scale(1.1);

}
.signUpForm input,label{
    padding:5px;
    margin:10px;

}
.question_wrapper{

    margin-top:200px;
    text-align:center;
}
.question_wrapper input{
     color:black;
    text-align:center;
    margin-right:40px;
    margin-bottom:10px;
    padding:5px;
}
.question_wrapper textarea{
      color:black;
     text-align:center;
}
.question_wrapper button {
    color:#fff;
    background:black;
    font-size:1.1em;
    font-weight:602;
    margin-left:20px;
    margin-bottom:100px;
    padding: 0.9375em 2.1875em;
    text-decoration:none;
    letter-spacing:1px;
    border-radius:15px;
    transition: 0.9s ease;
}
.errors{
    color:red;
}
.edit-delete-btn button{
    width:80px;
    font-size:1.1em;
    font-weight:602;
    border-radius:15px;
    transition: 0.9s ease;
}
.addComment{
    margin-top:200px;
}
.addComment div{

    margin-right:10px;
}
.postTitle{
    margin-left:420px;
    margin-bottom:20px;
    background:white;
    border:2px solid black;
    color:black;
    width:200px;
}
.comment{
    margin-left:340px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    border-radius: 10px;
    border: 2px solid #360311;
    padding: 5px;
    background-color: rgba(160,156,147,0.71);
    gap: 10px;
    color: black;
}
.commentArea{
    color:black;
}
.postModify{
    margin-left:400px;
    margin-top:10px;
    margin-bottom:10px;
    width:200px;
    display:flex;
    justify-content:space-between;
}
.addedBy{
    color:black;
}